// include foundation

@import "../node_modules/foundation-sites/scss/foundation";

@include foundation-global-styles;
@include foundation-grid;

body {
  background-color: beige;
  border: 2px solid maroon;
  padding: 20px;
  margin: 20px;
}
