body {
  .portfolio_row {
    @include grid-row();
    background-color: rgba(255, 255, 250, .9);
    background-size: cover;
    padding: 100px;
    text-align: center;
    ul {
      @include grid-column(12);
      li {
        @include grid-column(6);
        list-style: none;
        font-size: 25px;
      }
    }
  }
}
