body {
  .portfolio_row {
    @include grid-row();
    background-color: rgba(93,111,127, .8);
    border-radius: 6px;
    margin-top: 20px;
    color: white;
    background-size: cover;
    padding: 100px;
    text-align: center;
    ul {
      @include grid-column(12);
      li {
        @include grid-column(12);
        display: none;
          @include breakpoint(850px){
            @include grid-column(6);
            padding-top: 20px;
            list-style: none;
            font-size: 25px;
          }
        }
      }
    }

}
